body {
  background-image: url("./background.jpg");
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.count_boxes {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.count_box {
  border-radius: 1rem;
  padding: 1rem;
  background-color: purple;
}

.count_box > h2 {
  border-radius: 1rem;
  padding: 1rem;
  background-color: pink;
  font-size: 3rem;
}

.count_box > p {
  font-weight: bold;
  font-size: 2rem;
}

#left {
  font-weight: bold;
  color: white;
  font-size: 5rem;
}
